{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 
                         {% block sidebar %}
                <div class="catnames">
                    <h4>Categories</h4>
    {% for category in root_categories %}
        <div class="category-name"><a href="{% url 'category' category.id %}">{{ category.name }}</a></div>
    {% endfor %}
                </div>

        <input type="text" placeholder="Search"><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    {% endblock sidebar %}
</div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 size productshow">
    <div class="row">
        <div class="productwraper">
            <img class="cookies"src="{% static "images/juice.png" %}" alt="cookies">
    </div>

    </div>
    </div>



    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 size">
    <div class="row">
        {% for product in products %}
                <div class="imageprices col-md-2">
                <img height="200" width="200" src="{{ MEDIA_URL }}{{ product.image }}">
                <!--{{ product.price }}-->
                    <form class="plus" method="post" action="{% url 'add_plus' product.id %}">
                        {% csrf_token %}
                        <button type="submit" data-balloon='{{ product.name }} €{{ product.price }}' data-balloon-pos="right"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
                    </form>
                </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}