{% extends "base.html" %}
{% load gravatar %}
{% block content %}


<div class="modal fade" id="kiddy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-contentAdd pushthirtyzero">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Kid</h4>
            <div class="modal-body">
                <table class="kidsTableAdd kidFormAdd">
                <form action="{% url 'create_profile_kid' %}" method="post">
                {% csrf_token %}
                    <tr>
                        <td>First name:</td>
                        <td><input type="text" value="{{ kid.name }}" name="name"></td>
                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td><input type="text" value="{{ kid.dob }}" name="dob"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td><input type="text" maxlength="1" value="{{ kid.gender }}" name="gender"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                        <button class="btn buttonAdd2" type="submit">Add</button>
                        </td>
                    </tr>
                </form>
                </table>
            </div>
        </div>
    </div>
</div>


<aside>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 userForm">
        <table class="personalInfoProfile">
            <h1>Personail details</h1>
                <form class="" action="{% url 'update_profile' %}" method="post">
                    {% csrf_token %}
                    <tr>
                        <td>First name*:</td> 
                        <td><input type="text" value="{{ user.first_name }}" name="first_name"></td>
                    </tr>
                    <tr>
                        <td>Last name*:</td> 
                        <td><input type="text" value="{{ user.last_name }}" name="last_name"></td>
                    </tr>
                    <tr>
                        <td>Email*:</td>
                        <td><input type="email" value="{{ user.email }}" name="email"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" value="{{ user.profile.address1 }}" name="address1"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" value="{{ user.profile.address2 }}" name="address2"></td>
                    </tr>
                    <tr>
                        <td>Post Code:</td>
                        <td><input type="text" value="{{ user.profile.postcode }}" name="postcode"></td>
                    </tr>
                    <tr>
                        <td>Phone no:</td>
                        <td><input type="text" value="{{ user.profile.phone }}" name="phone"></td>
                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td><input type="text" maxlength="10" value="{{ user.profile.dob }}" name="dob"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td><input type="text" maxlength="1" value="{{ user.profile.gender }}" name="gender">
                        </td>
                    </tr>
                    <tr>
                    <br>
                        <td></td>
                        <td><button class="btn buttonUpdate" type="submit">Update</button>
                        <button type="button" class="btn buttonAdd" data-toggle="modal" data-target="#kiddy">Add kid</button></td>
                    </tr>
                </form>
                
        </table>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="container kidz">
            <h1>Kids</h1>
            <br>
            <div class="kidsFormCenter">
                    {% for kid in kids %}
                    <table class="kidsTable kidForm">
                        <form action="{% url 'update_profile_kid' kid.id %}" method="post">
                            {% csrf_token %}
                            <tr>
                                <td>First name:</td>
                                <td><input type="text" value="{{ kid.name }}" name="name"></td>
                            </tr>
                            <tr>
                                <td>Date of Birth:</td>
                                <td><input type="text" maxlength="10" value="{{ kid.dob }}" name="dob"></td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td><input type="text" maxlength="1" value="{{ kid.gender }}" name="gender"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button class="btn buttonAdd" formaction="{% url 'update_profile_kid' kid.id %}" type="submit">Edit</button>
                                    <form action="{% url 'delete_profile_kid' kid.id %}" method="POST">
                                        {% csrf_token %}<button class="btn buttonDelete" formaction="{% url 'delete_profile_kid' kid.id %}" type="submit">Delete</button></td>
                                    </form>        
                            </tr>
                        </form>
                    </table>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</aside>


<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table table-striped">
    <h3>Your order history</h3>
    <hr>
  <tr>
    <th>Date</th>
    <th>Invoice ID</th> 
    <th>Description</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>xxx</td>
    <td>xxx</td>
    <td>xxx</td>
    <td>xxx</td>
  </tr>
  <tr>
    <td>xxx</td>
    <td>xxx</td>
    <td>xxx</td>
    <td>xxx</td>
  </tr>
  <tr>
    <td>xxx</td>
    <td>xxx</td>
    <td>xxx</td>
    <td>xxx</td>
  </tr>
</table>
</div>
    </div>
</div>

    
 


{% endblock %}




