{% extends "base.html" %}
{% load gravatar %}
{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 profile-top">
                <img src="{% gravatar_url user.email 150 %}" style="width:150px; height: 150px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h1>Hello {{ user.first_name }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-6 row userForm">
        <table>
            <h1>Personail details</h1>
                <form class="" action="/" method="get">
                    <tr>
                        <td>First name*:</td> 
                        <td><input type="text" placeholder="{{ user.first_name }}" name="fname"></td>
                    </tr>
                    <tr>
                        <td>Last name*:</td> 
                        <td><input type="text" placeholder="{{ user.last_name }}" name="lname"></td>
                    </tr>
                    <tr>
                        <td>Email*:</td>
                        <td><input type="email" placeholder="{{ user.email }}" name="email"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" placeholder="Address" name="addres1"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" placeholder="Address" name="address2"></td>
                    </tr>
                    <tr>
                        <td>Post Code:</td>
                        <td><input type="text" placeholder="Post code" name="post code"></td>
                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td><input type="date" placeholder="Date of birth" name="dob"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td><select>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-success" type="submit">Update</button></td>
                    </tr>
                </form>
        </table>
    </div>
        <div class="col-lg-4-offest-1 col-md-4-offest-1 col-sm-4-offest-1 col-xs-4 kidForm">
            <table>
                <h1>"Kids name here"<br> information</h1>
                    <form class="form" action="">
                        <tr>
                            <td>First name:</td>
                            <td><input type="text" placeholder="" name="fname"></td>
                        </tr>
                        <tr>
                            <td>Date of Birth:</td>
                            <td><input type="date" placeholder="Date of birth" name="dob"></td>
                        </tr>
                        <tr>
                            <td>Gender:</td>
                            <td><select>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-success" type="submit">Edit</button></td>
                        </tr>
                    </form>
            </table>
        </div>
</div> 
    
 


{% endblock %}



    <script type="text/javascript">
        function cancelSubscriptionCheck() {
            if (confirm('Are you sure you want to cancel?')) {
                return true;
            }
            return false;
        }
    </script>
</div>
