{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
<div class="row"> 
    <div class="col-sm-6 col-md-6 col-ld-6 userForm row">
        <table>
            <h1>Registration form</h1>
                <form class="" action="/" method="get">
                        <td>First name*:</td> 
                        <td><input type="text" placeholder="Firstname" name="fname"></td>
                    </tr>
                        <tr>
                        <td>Last name*:</td> 
                        <td><input type="text" placeholder="Last Name" name="lname"></td>
                    </tr>
                    <tr>
                        <td>Email*:</td>
                        <td><input type="email" placeholder="Email" name="email"></td>
                    </tr>
                    <tr>
                        <td>Password*:</td>
                        <td><input type="text" placeholder="Password" name="pass1"></td>
                    </tr>
                    <tr>
                        <td>Reapet password*:</td>
                        <td><input type="text" placeholder="Re Password" name="pass2"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" placeholder="Address" name="addres1"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" placeholder="Address" name="address2"></td>
                    </tr>
                    <tr>
                        <td>Post Code:</td>
                        <td><input type="text" placeholder="Post code" name="post code"></td>
                    </tr>
                    <tr>
                        <td>Phone no:</td>
                        <td><input type="text" placeholder="Phone no" name="phone no"></td>
                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td><input type="date" placeholder="Date of birth" name="dob"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td><select>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><button type="submit">Register</button></td>
                    </tr>
                </form>
        </table>
    </div>

    <div class="col-sm-6 col-md-6 col-ld-6 kidForm">
        <table>
            <h1>Add kids information</h1>
                <form class="form" action="">
                    <tr>
                        <td>First name:</td>
                        <td><input type="text" placeholder="Firstname" name="fname"></td>
                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td><input type="date" placeholder="Date of birth" name="dob"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td><select>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><button type="submit">+Add</button></td>
                    </tr>
                </form>
        </table>
    </div>
</div>
{% endblock %}

