{% load static from staticfiles %}
<!DOCTYPE html >
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <title>Online Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Cousine|Permanent+Marker|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'font-awesome/css/customize.css' %}">
    {% block head_js %}{% endblock %}
</head>
<body class="bg bglayer" style="background-image: url('{% static "images/back.jpeg" %}')";>
    <nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">HOME <span class="sr-only">(current)</span></a></li>
        <li><a href="#">PRODUCTS</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li><a class="blog"href="#">BLOG</a></li>
      <ul class="nav navbar-nav navbar-right">
        <li><a a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> CART</a></li>
        
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button id="search_button" type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--<div class="container">
    <h1>Open NOW!</h1>
   <div class="masthead">
       <ul class="nav nav-pills pull-right">
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="{% url 'products' %}"><i class="fa fa-cube"></i> All Products</a></li>
            <li><a href="{% url 'categories' %}"><i class="fa fa-cube"></i> Products by category</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
            {%  else %}
                <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
            {% endif %}
            <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
            
            {% if num_cart_items > 0 %}
                 <li>{{ num_cart_items }}</li>
            {% endif%}-->

        </ul>
       <span class="fui-settings-12 muted"></div>
       {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12 col-md-12 sidebar">
            <ul class="nav nav-sidebar">
                {% block sidebar %}
                                <p>this is side bar</p> 
                {% endblock sidebar %}
            </ul>
        </div>

        <div class="row">
        <div class="col-sm-12  col-md-12 main">
            <div class="content">
                {% block content %}
                    <p>here is content</p>
                {% endblock content%}
            </div>
        </div>
    </div>


    <!--<div class="col-sm-9  col-md-10 footer">
            <div class="content">
                <hr>
               
            </div>
        </div>-->

</body>

</html>